* {
	text-align: center;
	font-family: Lato
}

body {
	background: url(https://news.gsu.edu/files/2017/11/iStock-516189065.jpg);
	background-size: cover
	
}

button {
	margin-left: 5px;
	margin-right: 5px;
}

h1, h3 {
	color: #fff;
	border-color: #000000;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}